# Prerequisites
*.d
.vs
Server_game/x64
*.idb
*.pdb
Server_game.vcxproj
Server_game.vcxproj.filters
Server_game.vcxproj.user
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.sln
# Executables
*.exe
*.out
*.app
